Library
/Assets/VSCode
test_Data
/.vscode/launch.json
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp.csproj
/Assets/VSCode.meta
/Svelto.Tasks.sln
/output_log.txt
/test.exe
Temp
/Svelto.Tasks.CSharp.Plugins.csproj
/Svelto.Tasks.CSharp.csproj
/Svelto.Tasks.v11.suo
/.idea/
/*.csproj
/Assets/Plugins/Svelto/**/*.meta
/.vs/Svelto.Tasks/v14/*.suo
/.vs/Svelto.Tasks/v15
/.vs/Svelto.Tasks.Tests/v15
/Assets/Plugins/Editor/JetBrains.meta
/Assets/Plugins/Editor/JetBrains/Unity3DRider.cs
/Assets/Plugins/Editor/JetBrains/Unity3DRider.cs.meta
/obj/
/Svelto.Tasks.Tests.sln
/Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
InitTestScene636563298193619295.unity
InitTestScene636563298193619295.unity.meta
InitTestScene636563299774681683.unity
InitTestScene636563299774681683.unity.meta
JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Logs/Packages-Update.log
test/
New folder/
TestCPP/
